body#index{
	overflow-x: hidden;
	overflow-y: hidden; 
}
figure.banner{
	position: absolute;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 0px;
	padding-bottom: -10px;
	
}

figure.banner img#foto{
	width: 1368px;
	height: 640px;
	
}

figure.banner figcaption{
	opacity: 0;
	position: absolute;
	bottom: 30px;
	color: white;
	margin-left: 15%;
	width: 930px;
	height: 130px;
	transition: opacity 2s;
	
}

figure.banner:hover figcaption{
	opacity: 1;
}

figure.banner figcaption button{
	width: 180px;
	height: 120px;
	padding: 0px;
}

#menu ul {
   	padding: 0px;
    margin: 0px;
    margin-left: -10px;
    background-color:#4f4f4f;
    list-style:none;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 1368px;
}

#menu ul li { 
 	display: inline;
 	text-decoration: none;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    background-color:#4f4f4f;
    color: #ffffff;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    font-size: 20px;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
    transition: 1s;
}